<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/rest.css">
    <link rel="stylesheet" href="./css/style.css">
    <title><%= development.title %></title>
    <link rel="icon" href="./img/iconlogo.ico">
</head>

<body>
    <%- include('partials/header', {user: user}) %>
<main>
        <div class="banner2">
            <a href="/addDevelopment"><img src="./img/banner1.gif" alt="Баннер"></a>
        </div>
    <section id="cardDevelopmentInfo">
        <div class="prew"><img src="<%= development.preview%>" alt="Превью" width="500"></div>
        <div class="info">
            <h1><%= development.title %></h1>
            <div class="categteg">
            <p><%= development.category.name %></p>
            <p><% if (development.tags && development.tags.length > 0) { %>
                    <% development.tags.forEach(tag => { %>
                        <%= tag.name %>,
                    <% }); %>
                <% } else { %>
                    Нет тегов
                <% } %></p>
        </div>
            <div class="bs">
                <a href="/download/<%= development.id %>">
                    <button>Скачать</button>
                  </a>
            </div>
        </div>
    </section>
    <div class="opis">
        <p><b>Описание:</b><br><%= development.description %></p>
    </div>
</main>    
    <%- include('partials/footer') %>
</body>

</html>